# TD n°1 : Introduction, mise à niveau
## 0 - Attribution, affichage et interaction
### Attribution et affichage
Pour attribuer une variable, utilisez l'opérateur **=** de la manière qui suit :

**nom_de_variable** = **objet_a_attribuer**.

Les noms de variables se doivent d'être en  minuscule, sans espace, sans accent et ne peuvent pas commencer  par un nombre, il est vivement conseillé  de nommer ces dernières de manières pertinentes. 

Pour afficher un élément, utilisez la  méthode **print(*arg*)** où *arg* correspond à autant d'objets (ou variables) que l'on veut mettre, séparé par une virgule.

Sachant que les langages de programmation lisent de  haut vers le bas, si on fait appel à un variable ou fonction personnel, il faut l'avoir déclaré avant et on ne peut donner qu'une instruction par ligne.

#### Exemple :

In [4]:
variable_1 = 24 #On atribue 24 à notre variable_1
multiplicateur_1 = 3  #On atribue 3 à notre multiplicateur_1
resultat = variable_1 * multiplicateur_1 #On atribue le résultat de la multiplication à resultat

print(resultat) #On affiche le réultat brut
print("Le résultat est : ",resultat,".") #On habille notre résultat avec une chaine  de charactère
print(f"Le résultat est : {resultat}.") #Intégration directe de la variable dans le texte

72
Le résultat est :  72 .
Le résultat est : 72.

On constate que le second affichage est moins propre, car par défaut **print()** met un espace  entre  chaque élément et un saut  de ligne à la fin. Cela peut être modifié par les arguments optionnels, en effet, la méthode complète s'écrit **print(*arg*, sep=" ", end="\n")** où **sep** et **end** ont déjà des valeurs par défaut d'où la non nécessitée de les indiquer. Ainsi, en reprenant notre exemple précédent :

In [5]:
print("Le résultat est : ",resultat,".",sep="") #On remplace l'espace par un vide

Le résultat est : 72.

### La fonction **input()**
Cette dernière permet de rendre inter-actif votre programme en demandant des informations à l'utilisateur.
Il faut lui fournir en argument un texte en string à afficher et il renverra en attribution le texte tapé par l'utilisateur :

**nom_de_variable** = **print("texte à afficher")**

#### Exemple :

In [6]:
reponse = input("Quel est votre nom  ?")
print(f"Bonjour {reponse} !")

Quel est votre nom  ?max
Bonjour max !

### Exercice 1 : les bases
Créer un variable auquel vous attribuerez un poids (en kg) et une autre avec une taille (en m).

Après cela, attribuée à une dernière variable votre poids/(taille x taille) (la multiplication correspond à * dans Python), c'est l'IMC.

Attribuer une dernière variable en demandant le nom de l'utilisateur.

Finalement, afficher toutes les informations de la manière la plus élégante possible.

In [2]:
#A vous de jouer :

poid = 15  # variable poid
taille = 1.75 # variable taille

IMC = poid/taille**2 # variable intermédiaire IMC

nom = input("Quel est votre nom ?") # demande pour le nom 

print(f"{nom},\n votre I.M.C est de {IMC}") # affichage en fsstring

Quel est votre nom ?jh
jh,
 votre I.M.C est de 4.8979591836734695

## I - Identifier les variables et opérations associées
Python de manière native comporte ces différentes natures (objets) :

- **int** : entier naturel
- **float** : nombres décimaux
- **str :** chaîne de caractères. Valeur entre ""
- **bool :** booleen True/False

- **list** : liste d'éléments, la nature des éléments peut être varié. Valeur entre []
- **tupple** : couple, triplet de données insécable. Valeur entre ()
- **Dict** : dictionnaire pouvant ranger différentes natures par des clefs d'indexation valeur entre {}

Grâce aux librairies usuellement utilisées en science, de nouvelles natures apparaissent :
- **array (numpy)** : tableau au sens mathématique, une matrice. Valeur entre []
- **DataFrame (pandas)** : série de données avec gestion temporelle

- **Autres** : les librairies rajoutent souvent des natures afin de mieux résoudre les problématiques auxquelles elles sont dédiées.

### I.1 - Les variables et leurs natures
Contrairement à bien d'autres langages, il n'est pas nécessaire de déclarer la nature de la variable lors de sa création, python va se charger lui-même de reconnaître cette dernière. Cela rend l'usage plus simple, mais peut aussi créer des pièges, où une erreur de nature d'attribution se propage en erreur parfois complexe à retrouver.

Python permet d'afficher les natures par la fonction (built-in) : **type(arg)**, où ***arg*** est la variable d'intérêt.

Il autorise aussi d'effectuer des changements de nature (ou forçage) quand cela est possible :
- **int -> float** : float(2) -> 2.00
- **float -> int** : int(2.2) -> 2
- **str -> float** : eval("43.23+2") -> 45.23
- **float -> str** : str(4.2) -> "4.2"

### Exemples :

In [8]:
variable_1 = 2.0
print(type(variable_1))

<class 'float'>

In [9]:
variable_2 = 2
print(type(variable_2))

<class 'int'>

In [10]:
variable_2=float(variable_2)
print(type(variable_2))

<class 'float'>

In [11]:
chaine_1 = "43.5"
chaine_2 = "43.5*2**5"
print(f"chaine 1 : {eval(chaine_1)}, {type(eval(chaine_1))}",f"\nchaine 2 : {eval(chaine_2)}, {type(eval(chaine_2))}")

chaine 1 : 43.5, <class 'float'>
chaine 2 : 1392.0, <class 'float'>

Il existe une fonction dédié pour vérifier la nature d'un objet : **isinstance(arg,nature)** avec ***arg*** la variable et ***nature*** la nature que l'on recherche. Cette dernière renvoie **True** ou **False**.

In [12]:
var_1 = "test"
print(isinstance(var_1, str))

True

In [13]:
print(isinstance(var_1, float))

False

### I.2 - Les opérations entre nature de même type
L'opérateur **+** va fonctionner sur différentes natures, mais ne remplira pas le même rôle. 

- Il va notamment *concaténer* les chaines de caractères (**str**) et liste (**list**) :

In [14]:
string_1 = "début "
string_2 = "fin"
print(string_1+string_2)

début fin

In [15]:
list_1 = ["début",1,2,[1,2]]
list_2 = ["fin",3,4]
print(list_1+list_2)

['début', 1, 2, [1, 2], 'fin', 3, 4]

- Il fera les *additions arithmétiques* pour les entiers (**int**), décimaux(**float**), matrice (**numpy.array**) et séries (**pandas.DataFrame**) :

In [16]:
float_1 = 6.5
int_1 = 8
print(float_1+int_1)

14.5

In [17]:
import numpy as np
array_1 = np.array([5,6,8,9])
array_2 = np.array([-5,-6,-8,-9])
print(array_1+array_2)

[0 0 0 0]

La *soustraction* ne marche pas pour les **listes**, mais fonctionne sur les **matrices**.

Certains objets disposent de méthodes spécifiques, il faut se renseigner sur sa documentation pour connaitre la boite à outils associée.

### I.3 - if, elif et  else
Ces outils permettent d'exécuter des lignes que si des conditions sont vérifiés, prenant compte que les  objets  de  type **bool**.
Pour encapsuler les lignes sous conditions, une tabulation (quatre espaces dans Python) est ajouté.
Suivant ce format :

In [18]:
variable_1 = 2
seuil_1 = 1

if variable_1 > seuil_1:
    print(f"{variable_1} est supérieur à {seuil_1}")
else:
    print(f"{variable_1} est inférieu ou égal à {seuil_1}")

2 est supérieur à 1

**elif** permet de mettre autant de condition intermédiaire successive entre le **if** et le **else**. Le **elif** et **else** ne s'exécutant que si les précédents **if** et **elif** n'ont pas fonctionné. Pour des **if** successif, le dernier s'exécute indépendamment du succès ou de l'échec des précédents **if**.

### Exercice 2 : conditions et opérations
Écrivez un programme avec deux variables initiales, ce dernier doit vérifier leur nature et si ce sont des **float** effectuez une soustraction (puis afficher), si les deux sont du texte, les concaténer (puis afficher) et si les deux éléments ne sont pas de même nature, les afficher en spécifiant leurs natures.

In [3]:
#A vous de jouer :
var_1 = 2.
var_2 = 3.

if isinstance(var_1,float) and isinstance(var_2,float):
    result = var_1 - var_2
    print(result)
    
elif isinstance(var_1,str) and isinstance(var_2,str):
    result = var_1 + var_2
    print(result)

else:
    print(f"Opération immpossible : \n {var_1} est un {type(var_1)} et {var_2} est un {type(var_2)} ")

-1.0

## II - Les boucles
### II.1 - la boucle while
Cette dernière s'exécute sans cesse tant que la condition de test renvoie **True** :

In [20]:
x = 1
while x < 10:
    print("x a pour valeur", x)
    x = x * 2
print("Fin")

x a pour valeur 1
x a pour valeur 2
x a pour valeur 4
x a pour valeur 8
Fin

Les risques de cette boucle sont de créer des boucles infinies, notamment lorsque la condition est ambigüe ou mal posée.
Il est préférable quand cela est possible d'utiliser la boucle **for**.
### II.1 - la boucle for
Celle-ci s'exécute uniquement sur une liste, tableau ou autres objets *ittérable*. Elle va en parcourir tous les éléments et fonctionne en espace fini.

In [21]:
for i in [0, 1, 2, 3]:
    print("i a pour valeur", i)

i a pour valeur 0
i a pour valeur 1
i a pour valeur 2
i a pour valeur 3

Un outil pratique à utiliser avec cette boucle est la fonction **enumerate(arr)**, cette dernière renvoie deux valeurs pour chaque valeur du tableau : le premier l'**indice** et le deuxième la **valeur** autorisant plus de contrôle lors du parcours :

In [22]:
for idx, value in enumerate([9, 12, 5, 45]):
    print("valeur : ", value," indice :",idx)

valeur :  9  indice : 0
valeur :  12  indice : 1
valeur :  5  indice : 2
valeur :  45  indice : 3

### Exercice 3

Créer programme capable de parcourir un tableau et de  d'afficher les nombres qui sont pairs associé de leur position dans le tableau.

In [23]:
array_to_test = np.array([1,6,14,5,4,98,3,1,3,2,8,41,3,1,5,2,3,5,47,1,3,6,])

#A vous de jouer :
for idx, value in enumerate(array_to_test):
    if value%2==0:
        print(f"{value} à la position {idx} est pair.")

### Exercice 4
Transformez votre précédent programme en une fonction.

Puis intégré là dans une boucle de test sur plusieurs tableaux.

In [4]:
import numpy as np # On importe la boite à outils numpy sous l'alias np

array_to_test_1 = np.random.randint(0, high=100, size=25) # créer un tablau de 25 élément entier aléatoire entre 0 et 100
array_to_test_2 = np.random.randint(0, high=100, size=25)
array_to_test_3 = np.random.randint(0, high=100, size=25)

#A vous de jouer :
def find_pair(array_like): #création d'une fonction
    idx_list=[] #liste vide pour stocker les indices
    value_list = [] # ideml pour les valeurs
    for idx, value in enumerate(array_like):
        if value%2==0:
            idx_list.append(idx)
            value_list.append(value)
    return idx_list, value_list #renvoie de la fonction

#Appel de la fonction ssur les tableau =>
idx_1,val_1 = find_pair(array_to_test_1)
idx_2,val_2 = find_pair(array_to_test_2)
idx_3,val_3 = find_pair(array_to_test_3)

print(f"Pour le tablerau 1 :\nidx:{idx_1}\nval:{val_1}")
print(f"Pour le tablerau 2 :\nidx:{idx_2}\nval:{val_2}")
print(f"Pour le tablerau 3 :\nidx:{idx_3}\nval:{val_3}")

Pour le tablerau 1 :
idx:[7, 9, 10, 11, 13, 17, 19, 20, 21, 24]
val:[78, 44, 78, 88, 32, 74, 20, 16, 98, 34]
Pour le tablerau 2 :
idx:[0, 1, 2, 4, 5, 6, 7, 8, 9, 11, 13, 15, 18, 19, 20, 23, 24]
val:[92, 36, 46, 82, 10, 16, 64, 84, 74, 0, 66, 32, 88, 6, 80, 88, 96]
Pour le tablerau 3 :
idx:[1, 3, 5, 7, 9, 12, 14, 16, 20, 24]
val:[24, 70, 76, 24, 14, 84, 38, 94, 84, 68]